---
    import { FOOTER } from "../config";
        const { TEXT } = FOOTER;
---


<footer class="flex items-stretch bg-slate-500 justify-center">
    <ul class="p-10">
        <li>{TEXT.FEETER}</li>
        <li>{TEXT.FEETER2}</li>
        <li>{TEXT.FEETER3}</li>
    </ul>
    <ul class="p-10">
        <li>{TEXT.FEETER4}</li>
        <li>{TEXT.FEETER5}</li>
        <li>{TEXT.FEETER6}</li>
    </ul>
    <ul class="p-10">
        <li>{TEXT.FEETER7}</li>
        <li>{TEXT.FEETER8}</li>
        <li>{TEXT.FEETER9}</li>
    </ul>
</footer>