---
    import { NAVCONTENT } from "../config";
    const { TEXT, LINKS } = NAVCONTENT;
---

<header class="w-full fixed z-10 bg-slate-500 top-0">
    
    <nav class="flex justify-center sm:justify-end">
            <h1 class="p-4 font-bold inset-y-1">{TEXT.YOURNAME}</h1>  
            <a class="p-4 hover:font-bold" href= {LINKS.LINK1.HREF}>{LINKS.LINK1.CONTENT}</a>
            <a class="p-4 hover:font-bold" href= {LINKS.LINK2.HREF}>{LINKS.LINK2.CONTENT}</a>
        </nav>
</header>